/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .logo {
    width: 50px;
    border-radius: 50px;
}

header nav {
    float: right;
    margin-top: 20px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

.company-name {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Hamburger Menu */
/* .hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.hamburger i {
    font-size: 24px;
} */

/* Responsive Styles */
/* @media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 100px;
        left: 0;
       
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }
}  */

/* Hero Section Styles */
#hero {
    /* background: url('https://source.unsplash.com/1600x900/?interior,design') no-repeat center center/cover; */
    background: url('https://images.unsplash.com/photo-1595848463742-764e6b5c11d2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8aW50ZXJpb3IsZGVzaWdufHx8fHx8MTcxNjQzNTY3OA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600') no-repeat center center/cover;
    color: #E56A24;
    font-size: 24px;
    font-weight: bold;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
}

#hero .btn:hover {
    display: inline-block;
    padding: 10px 20px;
    background: #E56A24;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    margin-top: 20px;
}

/* About Section Styles */
#about {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#about h2 {
    margin-bottom: 40px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    display: inline-block;
}

.about-image {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}


.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
    margin: 10px 20px;
    font-size: 20px;
    line-height: 1.8;
}

/* Portfolio Section Styles */
#portfolio {
    padding: 60px 0;
    text-align: center;
}

#portfolio h2 {
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    color: #333;
}

.portfolio-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-card {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.portfolio-card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.portfolio-card:hover img {
    opacity: 0.7;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card-content p {
    font-size: 16px;
    color: #666;
}

/* Button Centering */
.center-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 30px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.center-btn:hover {
    background: #555;
}

/* Services Section Styles */
#services {
    background-color: #d5cece;
    padding: 60px 0;
    text-align: center;
    margin-bottom: 50px;
}

.service {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
}

.service i {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Contact Section Styles */

#contact {
    position: relative;
    left: 150px;
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    background-color: #9b9b9b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    overflow: hidden;
}

.map iframe {
    border: none;
}

.contact-form {
    padding: 20px;
    width: 60%;
    /* max-width: 600px; */
    background-color: #333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #fff;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

.contact-form .form-group input::placeholder,
.contact-form .form-group textarea::placeholder {
    color: #aaa;
}

.contact-form button {
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #afa5a5;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ddd;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

/* Social Media Icons */
.footer-column .social-media i {
    margin-right: 10px;
}

.footer-column .social-media li {
    display: flex;
    align-items: center;
    margin-left: 100px;
    /* background-color: #ccc; */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        text-align: left;
    }

    .footer-column {
        text-align: center;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    header nav {
        float: none;
        text-align: center;
    }

    header ul {
        display: inline-block;
        padding: 0;
    }

    header ul li {
        display: block;
        margin: 10px 0;
    }

    /* needed to be updated */
    header {
        display: none;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        margin: 10px 0;
    }

    .portfolio-cards {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-card {
        width: 100%;
    }

    .service {
        width: 100%;
        margin: 10px 0;
    }

    #contact {
        flex-direction: column;
        position: relative;
        left: 30px;
    }

    .map iframe {
        height: 300px;
        /* display: none; */
    }

    .contact-form {
        max-width: none;
        width: 100%;
    }


}